
body {
  padding-bottom: 20px;
}

.navbar {
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.nav-item {
  padding: 0px 10px 0 10px;
}
.navbar-nav  li a:hover {
    color: #ffb3dd !important;
}

.emoji-title {
  font-size: 1.5rem;
}
ul.navbar-nav {
    display: flex;
    align-items: center;
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #ffb3dd;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.btn-form {
  margin-top: 25px;
}

.input-stack {
  margin-top: 15px;
}

.mainpage-paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
  display: block;
}
